<div ng-controller="SearchController as vm">
  <md-content ng-show="$showOptions" class="options">
    <md-radio-group ng-model="vm.disableCaching" >
      <md-radio-button  ng-value="true">Disable caching</md-radio-button>
      <md-radio-button  ng-value="false">Enable caching</md-radio-button>
    </md-radio-group>
  </md-content>

  <md-content class="md-padding">
    <md-autocomplete placeholder="选择项目"
                     md-selected-item="vm.selectedCountry"
                     md-search-text="vm.searchText"
                     md-no-cache="vm.disableCaching"
                     md-items="item in vm.querySearch(vm.searchText)"
                     md-item-text="item.display">
      <span md-highlight-text="vm.searchText">{{item.display}}</span>
    </md-autocomplete>

    <p>项目名称:
      <b>{{vm.selectedCountry.display || '请输入项目名称'}}</b>
    </p>
    <p>项目细节:
      <b>{{vm.selectedCountry.code || '请选择项目细节'}}</b>
    </p>
  </md-content>
</div>
