<div layout-gt-md="row">
 <panel-widget flex title="待办项目" template="app/views/partials/checkboxes.html"></panel-widget>

</div>

<div layout-gt-md="row">
  <panel-widget flex title="切换分组" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="各组任务" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="快速搜索" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>
<div layout-gt-md="row">
<panel-widget flex title="大家的进度" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="大家的效率" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="我的任务" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="我的表现" template="app/views/partials/performance.html" options="true"></panel-widget>
</div>